<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>Lista Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"  type="text/css" href="vendor/sweetalert/sweetalert.css">

        
        <script type="text/javaScript" src="vendor/js/angular.min.js"></script>
        <script type="text/javaScript" src="vendor/sweetalert/sweetalert.min.js"></script>
        
        <script type="text/javaScript" src="js/myApp.js"></script>
        <script type="text/javaScript" src="js/controller/UsuarioController.js"></script>
        <script type="text/javaScript" src="js/factory/UsuarioFactory.js"></script>

        
        

    </head>
    <body ng-controller="UsuarioController" ng-init="buscaUsuarios()">
        <div ng-hide="editando">
            <h1>Cadastro</h1>
        </div>
        <div ng-show="editando">
            <h1>Editar</h1>
        </div>

        <form ng-submit="cadastroUsuario(usuario)">
            <div>
                <label>Nome: </label>
                <input ng-model="usuario.nome" type="text" 
                       placeholder="Digite seu Nome"   >
            </div>
            <div>
                <label>Login:</label>
                <input ng-model="usuario.login" type="text" placeholder="Digite seu login"  >
            </div>
            <div>
                <label>Ativo:</label>
                <input ng-model="usuario.flagInativo" type="text" placeholder="Esta Ativo?"  >
            </div>
            <div>
                <label>idGrupo:</label>
                <input ng-model="usuario.idGrupo" type="text" placeholder="Digite o id do grupo"  >
            </div>
            <div>
                <label>Senha</label>
                <input ng-model="usuario.senha" type="password" placeholder="Digite a sua senha"  >
            </div>
            <button ng-show="editando" type="submit">Salvar</button>
            <button ng-hide="editando" type="submit">Adicionar</button>


        </form>

        <div>
            <h1>Lista Usuario</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>IdUsuario</th>
                            <th>IdGrupo</th>
                            <th>Login</th>
                            <th>Nome</th>
                            <th>Atvio</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dados">
                            <td>{{item.idUsuario}}</td> 
                            <td>{{item.idGrupo}}</td> 
                            <td>{{item.login}}</td> 
                            <td>{{item.nome}}</td> 
                            <td>{{item.ativo}}</td> 
                            <td>
                                <button ng-click="editarUsuario(item)">Editar</button>
                                <button>Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
